.customer-item {
    margin-left: 20px;
}

.content-title {
    margin-left: 40px;
}

.content-date {
    margin-left: 20px;
}
.content-item {
    margin-left: 30px;
}
.content-total {
    margin-left: 40px;
}