<div class="row">
    <!--h3> Last year orders (date {{date}}) </h3>
    <br-->
    <div>
        <h3 class="content-title"> Customers and orders history</h3>
    </div>

    <ul>
        <li class="customer-item" ng-repeat="customer in customers">
            <p> >> {{ customer.nice_name }} ( mail: {{ customer.mail }}, registered on: {{ customer.registration}})
                <strong><a href="/orders/{{ customer.customerId }}/">orders</a><br/></strong>
            </p>
        </li>
    </ul>

    <!--h3> customers {{customers}} </h3-->
    <!--h4> logs :{{ log }} </h4-->
</div>