<div class="row">
    <div>
        <h2> {{customer.nice_name}} </h2>
    </div>
    <div ng-repeat="order in orders">
        <p> Le {{order.created_at * 1000 | date:'dd-MM-yyyy HH:mm:ss'}},</p>
        <div ng-repeat="content in order.content">
            <p>Article : "{{content.name}}" Prix : {{content.price/100}} euros </p>
        </div>
        <div ng-repeat="transaction in order.transactions">
            <p>Coût total : {{transaction.price/100}} euros en {{transaction.method}} </p>
        </div>
    </div>

    <!--p> logs :{{ log }} </p-->
</div>