<div class="row">
    <div class="content-title">    <h2> {{customer.nice_name}} </h2>
    <br></div>

    <div ng-repeat="order in orders">
        <!--p> Le {{order.created_at * 1000 | date:'dd-MM-yyyy HH:mm:ss'}},</p-->
        <p class="content-date"> Le {{order.created_at }},</p>
        <div class="content-item" ng-repeat="content in order.contents">
            <p><strong> >> Article :</strong>"{{content.name}}" <strong>Prix :</strong> {{content.price/100}} euros </p>
        </div>
        <div class="content-total" ng-repeat="transaction in order.transactions">
            <p><strong>Coût total :</strong> {{transaction.price/100}} euros en {{transaction.method}} </p>
        </div>
    </div>

    <!--p> logs :{{ log }} </p-->
</div>